.b-color {
    color: lightpink;
  }
  
  .display {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .min-max-width{
    max-width: 300px;
    margin: 0 auto;
  }
  .card-bg{
   background-color: transparent;
  }
  ion-content {
    --background: linear-gradient(#000000, #696969);
  }
  .ion-activate {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
  }
  ion-icon {
    color: lightpink;
    font-size: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    }