<ion-header>
  <ion-toolbar>
    <ion-title>
      Hair Mo Donor Requirments
    </ion-title>
  </ion-toolbar>
</ion-header>
 
  <ion-content>


    <img class="display" height="150px" width="150px" src="./assets/logo.png" />
      <ion-card-content class="content-font">
        Requirements for Applicable donor<br><br>
      • For donating hair or becoming a donor be sure that you have no anykind of illness or any kind
      of disease because they will affect the beneficiaries if they use or wear the hair you donate.<br><br>
      • All of them have a minimum length of hair that can be donated, commonly ranging from 8 inches
      to 14 inches.<br><br>
      • If you have layered hair, the shortest layer often needs to meet the minimum 
      length requirement.<br><br>
      • Before donating the hair make sure that it's clean, wash it carefully after that 
      dry the hair. <br><br>
      • Avoid donating the hair if you're hair is chemically treated like bleaching or 
      rebonding.<br>
    </ion-card-content>

      <br>
      <ion-button expand="block" fill="outline" color="danger"(click)="home" [routerLink]="['/home']">Back</ion-button>
      <br>
 
 
</ion-content>
