<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hair Mo Donor
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <img class="display" height="230px" width="230px" src="./assets/logo.png" />
  <ion-card>

    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" size="6" class="ion-text-center">
          <ion-button expand="full" shape="round" class="ion-text-wrap min-max-width" color="danger" (click)="login" [routerLink]="['/login']"> Login </ion-button>
        </ion-col>
        
        <ion-col size-sm="6" size="6" class="ion-text-center">
          <ion-button expand="full" shape="round" class="ion-text-wrap min-max-width" color="danger" (click)="register" [routerLink]="['/register']"> Register </ion-button>
        </ion-col> 

      </ion-row>
      <br>
      <ion-row>
        <ion-col size-sm="6" size="6" class="ion-text-center">
          <ion-button expand="full" shape="round" class="ion-text-wrap min-max-width" color="danger" (click)="requirements" [routerLink]="['/requirements']"> Requirments </ion-button>
        </ion-col>
        
        <ion-col size-sm="6" size="6" class="ion-text-center">
          <ion-button expand="full" shape="round" class="ion-text-wrap min-max-width" color="danger" (click)="aboutus" [routerLink]="['/aboutus']"> About Us </ion-button>
        </ion-col> 
        
      </ion-row>

    </ion-grid>
    <br><br><br><br>
    <ion-item class="ion-activated">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      <ion-label>Hair Mo Donor Facebook Page</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>HairMoDonor@gmail.com</ion-label>
    </ion-item>
  </ion-card>
</ion-content>