.display {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  ion-card{
    background-color: transparent;
    }
  
  ion-content {
    --background: linear-gradient(#000000, #696969);
  }
  